<footer class="blue_bg">
    <h3>LINKS</h3>
        <div>
            <div id="link-colors-footer" class="div">
                <a target="_blank" rel='noopener noreferrer' href="/index">Home</a>
                <br>
                <a target="_blank" rel='noopener noreferrer' href="/about">About</a>
                <br>
                <a target="_blank" rel='noopener noreferrer' href="/login">Login</a>
                <br>
                <h3>FOLLOW US</h3>
                <a target="_blank" rel='noopener noreferrer' href="https://www.facebook.com/CodeSquadOrg">Facebook</a>
                <br>
                <a target="_blank" rel='noopener noreferrer' href="https://www.instagram.com/codesquadpix/?hl=en">Instagram</a>
                <br>
                <a target="_blank" rel='noopener noreferrer' href="/">Twitter</a>
            </div>
            <br>
            <h3>A PRODUCT OF</h3>
            <br>
        </div>
    <div>
    </div> 
</footer>
</body>