<footer class="blue_bg footer">
    <h3>LINKS</h3>
        <div>
            <div id="link-colors-footer" class="div">
                <a target="_blank" rel='noopener noreferrer' href="/">Home</a>
                <br>
                <a target="_blank" rel='noopener noreferrer' href="/about">About</a>
                <br>
                <a target="_blank" rel='noopener noreferrer' href="/login">Login</a>
                <br>
                <h3>CONTACT ME</h3>
                <a target="_blank" rel='noopener noreferrer' href="https://www.linkedin.com/in/jratchell/">LinkedIn</a>
                <br>
                <a href = "mailto:jeratchell@gmail.com?subject = PPPDirectoryFeedback&body = Message">Email</a>
                <br>
            </div>
            <br>
            <br>
        </div>
    <div>
</footer>
</body>
</html>