<section>
    <%#for (entry of data){%>
        <span>
            <p><%= data.title%></p>
            <p><%= data.author%></p>
            <p><%= data.task%></p>
        </span>
        <span>
            <form action="/tasks/<%=data._id%>?_method=DELETE" enctype="application/x-www-form-urlencoded" class="inline">
                <input type="submit"/>
            </form>
        </span>
    <%#}%>
</section>