<header class="blue_bg"> 
    <div>
       
    </div>
    <div id="link-colors-header">
        <span class="header_navi">
            <a href="/">Home</a>
        </span>
        <span class="header_navi">
        <a href="/about">About</a>
        </span>
        <span class="header_navi">
        <a href="/login">Login</a>
        </span>
        <span class="header_navi">
            <a href="/register">Register</a>
            </span>
    </div>
</header>