


/*SECTIONS SPECIFIC TO LOGIN.HTML*/
.logins {
background-color: black;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
max-width: auto;
margin: auto;
padding: 10px;
}

.about {
    background-color: black;
    color: white;
    word-spacing: 50px;
    text-indent: 50px;
}
/* Extra customization for the login boxes, seems like it does not work due to the boxes being inside of the <form>, will figure out I get the rest of the skeleton situated
div#login_pass input[type=text] {
    background-color: white;
}
div#login_name
*/

