<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/scripts.js" defer></script>
    <title>About Page</title>
</head>
<body class="about">
    <h1>What exactly is (Project Name still undecided) about?</h1>
    <p>This project is intended to a sort of stopgap solution for timeless issue of "How exactly do I make doing large amounts of school work (at least somewhat) fun?"
        <br>
        And so, this idea of using the Pomodoro method to create a positive feedback loop of 
        <br>
        completing a certain acmount of work, playing a game for a certain amount of time, and repeating that loop ad nauseam came into fruition.
        <br>
        If the sitemap of this site is a diagram of its skeleton, then this (As of 3/08/23) is that same skeleton but with a nice shirt somewhat covering up the ugly parts.
    </p>
</body>
</html>