<%-include('../partials/head') -%>
    <title>About Page</title>
<%-include('../partials/nav') -%>
<body class="about">
    <h1>What exactly is "Patent Pending" supposed to be?</h1>
    <p>This project is intended to a sort of stopgap solution for timeless issue of "How exactly do I make doing large amounts of school work (at least somewhat) manageable?"
        <br>
        And so, this idea of using the Pomodoro method to create a positive feedback loop of  
        completing a certain acmount of work, playing a game for a certain amount of time, and repeating that loop ad nauseam came into fruition.
        <br>
        If the sitemap of this site is a diagram of its skeleton, then this (As of 3/08/23) is that same skeleton but with a nice shirt somewhat covering up the ugly parts.
    </p>
<%-include('../partials/footer') -%>