<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/scripts.js" defer></script>
    <title>Account Page</title>
</head>
<body class="account" onload="accountIntent('This will be where all account management will take place, along with some customization of the site itself if I get to it.')">
 <h1>ACOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoooo</h1>   
</body>
</html>