<%-include('../partials/head') -%>
    <title>Account Page</title>
<%-include('../partials/nav') -%>

<body class="account" onload="accountIntent('This will be where all account management will take place, along with some customization of the site itself if I get to it.')">
 <h1>ACOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoooo</h1>   
 <%-include('../partials/footer') -%>