<%-include('../partials/head') -%>
    <title>Account Page</title>
<%-include('../partials/nav') -%>

<div>
    <span>
     <h1>Account</h1>   
    </span>
    <%#-include('../partials/loop') -%>
    <img src="./img/Example.png">
</div>
 <%-include('../partials/footer') -%>