<%- include('../partials/head') -%>
<title>Create</title>
<%- include('../partials/nav') -%>
    <br>
    <div class="create_comic_box">
        <h2 class="create_new_comic">CREATE NEW TASK</h2>
            <form action="/account" method="POST" typeof="text" class="form_css"> 
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" placeholder="title" required/>
                </div>
                <br>
                <div>
                    <label for="author">Author</label>
                    <input type="text" id="author" name="author" placeholder="author" required/>
                </div>
            <div>
                <label for="task">Task</label>
                <input type="text" id="task" name="task" placeholder="task" required/>
            </div>


<br>
<div>
    <input type="submit" id="submission" name="submit data" class="editbtn_D">
</div>

</form>
</div>

<%- include('../partials/footer') -%>