<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/scripts.js" defer></script>
    <title>Get Started Page</title>
</head>
<body class="get_started" onload="getStartedIntent('This page is where the user will be the majority of the time, as it will be where the workspace is, undecided as to whether or not there will be a separate page for the games that will take place during breaks, though.')">
    <h1>Get Started</h1>


</body>
</html>