<%-include('../partials/head') -%>
<title>Main Page</title>
<%-include('../partials/nav') -%>
<h1>This is supposed to be the front page</h1>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IUXNiDJJ_9s?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<textarea></textarea>
<%-include('../partials/footer') -%>
<!--
    Mandatory:
     
    High Priority:
    1. Work
    2. Complete overhaul of whatever you are imagining how it should look right now
    3. Stop being such a hardass and ask for help on these things, it's obvious that you need it
    4. Break down what you need to do into chunks, trying to think of how everything will go on a grand scale
    When you haven't even set the foundation yet why you don't get things done.
-->