<%-include('../partials/head') -%>
<title>Login Page</title>
<%-include('../partials/nav') -%>
<body onload="aboutIntent('Focus for what to be worked on right now will primarily be css styling of the page')" class="logins">
    <h1>Log in to Your Account</h1>
    <br>
    <form action="/account" method="POST" >
        <label for="login_name">Email/Username</label>
        <br>
        <input type="text" id="login_name" name="logName" placeholder="Enter your username or email here">
        <br>
        <br>
        <label for="login_pass">Password</label>
        <br>
        <input type="text" id="login_pass" name="logPass" placeholder="Enter your password here">
        <br>
        <input type="submit">
        <p>Forgot password? <a>Click here</a></p>
        <p>Don't have an account? <a href="register.ejs">Click here</a></p>    
    </form>
    
<%-include('../partials/footer') -%>
<!--
    High Priority:
    1. CSS Styling to look more visually appealing
    2. Figuring out why any attempt to change it's position will force the content of the page to jitter back to the top left

    Medium/Low Priority:
    1. Create account creation/forgotten password page so that the text actually has a link to go to.
-->