<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <br>
    <br>
    <br>
    <br>
    <div class="register_box">
        <h1 class="register_header">REGISTER</h1>
        <br>
        <form action = '/' method = "POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" minlength="5" required/>
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" placeholder="Password" minlength="10" required/>
            </div>
            <br>
            <div>
                <input type="submit" class="editbtn_D">
            </div>
            <div>
                <button>
                    <a href="/login" role="button">Submit</a>
                </button>
            </div>           
        </form>
    </div>
    <br>
    <br>
    <br>
<%- include('../partials/footer') -%>